<h1>You Fell In Love With <%= thingVar %></h1>
<p>This Is From ejs File</p>
<img src="http://i844.photobucket.com/albums/ab6/lowshoulder3/13597632_887776588017474_849112472_n_zpsfocuflfx.jpg" alt="anything">