h1{
    margin: 0 auto;
}
.main-box {
    position: relative;
    font-size: 16px;
    margin: 10px auto;
    display: inline-block;
    width: 750px;
    height: auto;
    transition: transform .3s;
    border: 3px solid black;
    padding: 5px;
    text-align: center;
    background: #FFCF4B;
}
.search-box{
    margin: 100px;
    background: #CEA0E4
}