<!-- views/pages/index.ejs -->

<% include ../partials/header %>

    <body>
       <% include ../partials/nav %>
        <h1>This Is Landing Page</h1>
        <a href="campground" target="_blank">Go To CampGround</a>
        <% include ../partials/footer %>
    </body>
    