h1{
    color:rgb(52, 73, 94);
    border: 5px solid black;
}
h4{
    background:rgb(41, 197, 255);
);
}
body{
    background-color: pink;
    /*
    background: url(http://www.margaretrogers.net/uploads/6/7/4/1/6741573/_1572616_orig.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    */
}