<style>
    h1{
        color:red;
    }
</style>
<h1>This is The Home Page</h1>
<img src="http://i844.photobucket.com/albums/ab6/lowshoulder3/13556998_1325169484178000_1232737010_n_zpspopp3khg.jpg" alt="whatever">
